* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .app {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), transparent), url(./assets/bitc.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 5%;
  }

  @media (max-width: 768px) {
    .app {
      background-position: left;
    }
  
  }